ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: #212121;
}

.body-is-open {
  overflow: hidden;
}

.product-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .product-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.active-link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link:hover, .active-link:focus {
  color: #2196f3;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  -webkit-transform: unset;
          transform: unset;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .logo-footer {
    margin-left: auto;
    margin-right: auto;
  }
}

.logo__name {
  color: #2196f3;
}

.logo__name--color {
  color: #ffffff;
}

@media screen and (max-width: 400px) {
  .site-nav {
    margin-top: 48px;
    margin-left: 40px;
    margin-bottom: 180px;
  }
}

@media screen and (min-width: 400px) and (max-width: 767px) {
  .site-nav {
    margin-top: 48px;
    margin-left: 40px;
    margin-bottom: 300px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-right: 305px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    display: block;
    font-size: 40px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link--after::after {
    content: '';
    position: absolute;
    background: #2196f3;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
  }
}

.active {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 64px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child):not(:last-child) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child):not(:last-child) {
    margin-left: 30px;
  }
}

.contacts__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__icon {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__icon--size {
    width: 10px;
    height: 14px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts__link {
    display: block;
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link--active {
    color: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link--size {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
  }
}

.menu-button {
  z-index: 3;
  outline: none;
}

.menu-button:focus {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 13px;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-open {
  display: none;
}

.menu-button.is-open .icon-open {
  display: block;
}

.menu-button.is-open .icon-close {
  display: none;
  position: fixed;
  overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 796px;
    width: 100%;
    max-width: 480px;
    overflow: hidden;
    z-index: 2;
    background-color: #ffffff;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) and (max-width: 480px) {
  .menu-container {
    position: fixed;
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 40px;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .network {
    display: none;
  }
}

.network__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
}

.network__link::after {
  content: '';
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 10px;
}

.section-button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header_img/mobile_header_img@1x.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header_img/mobile_header_img@1x.jpg");
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-button {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header_img/mobile_header_img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header_img/mobile_header_img@2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .section-button {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header_img/tablet_header_img@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header_img/tablet_header_img@1x.jpg");
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .section-button {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header_img/tablet_header_img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header_img/tablet_header_img@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section-button {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header_img/desktop_header_img@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header_img/desktop_header_img@1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-button {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/header_img/desktop_header_img@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/header_img/desktop_header_img@2x.jpg");
  }
}

.section-button__title {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  padding-top: 200px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .section-button__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .section-button__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.main-button--margin {
  margin-bottom: 200px;
}

.main-button {
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  padding: 10px 30px;
  min-width: 200px;
  max-height: 50px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover, .main-button:focus {
  color: #ffffff;
  background-color: #188ce8;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 520px;
    min-height: 580px;
  }
}

.modal__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .modal__title {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal__close {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.modal__icon {
  position: absolute;
  top: 6px;
  right: 5px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon:hover {
  fill: #2196f3;
}

.form-modal {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .form-modal {
    max-width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form-modal {
    width: 448px;
  }
}

.form-modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
}

.form-modal__container:not(:last-child) {
  margin-bottom: 10px;
}

.form-modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal__link {
  color: #2196f3;
  margin-left: 3px;
}

.form-group__item {
  position: relative;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-group__item:hover, .form-group__item:focus-within {
  border-color: #2196f3;
  fill: #2196f3;
  outline: none;
}

.form-group__input {
  width: 100%;
  padding-left: 42px;
  padding: 11px 12px 11px 42px;
  border: none;
}

.form-group__input:hover, .form-group__input:focus-within {
  outline: none;
}

.form-modal__comment-text {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-modal__comment-text:hover, .form-modal__comment-textt:focus {
  border-color: #2196f3;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-modal__comment-text::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-modal__comment-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-modal__comment-text::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-modal__comment-text::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-modal__condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .form-modal__condition {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-height: 1200px) {
  .form-modal__condition {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-modal__button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.form-group__icon {
  position: absolute;
  top: 12px;
  left: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__icon-checkbox {
  display: inline-block;
  min-width: 15px;
  min-height: 15px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: 2px solid #212121;
  margin-right: 8px;
}

.form-modal__checkbox {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier 0.4, 0, 0.2, 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier 0.4, 0, 0.2, 1;
}

.form-modal__checkbox:checked + .form-modal__icon-checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../img/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.form-modal__checkbox--invisible {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form-modal__inline {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .feature__item {
    width: 100%;
  }
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 30px * 2) / 2);
        flex-basis: calc((100% - 30px * 2) / 2);
  }
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__item:not(:last-child):nth-child(-n + 2) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 30px * 4) / 4);
        flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin: 0;
  padding: 0;
}

.feature-icon__icon--antena::before, .feature-icon__icon--clock::before, .feature-icon__icon--diagram::before, .feature-icon__icon--astronaut::before {
  content: '';
  background: #f5f4fa;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 120px;
  margin-bottom: 30px;
}

.feature-icon__icon--antena::before {
  background-image: url(../img/icons/icon-antenna.svg);
  width: 100%;
}

.feature-icon__icon--clock::before {
  background-image: url(../img/icons/icon-clock.svg);
}

.feature-icon__icon--diagram::before {
  background-image: url(../img/icons/icon-diagram.svg);
}

.feature-icon__icon--astronaut::before {
  background-image: url(../img/icons/icon-astronaut.svg);
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc((100% - 30px * 3) / 3);
      flex-basis: calc((100% - 30px * 3) / 3);
}

.works-list__item {
  position: relative;
}

.works-list__item:not(:last-child) {
  margin-right: 30px;
}

.works-list__text {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: #f5f4fa;
}

.section-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-list__item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(8, 7, 7, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(8, 7, 7, 0.2);
}

@media screen and (max-width: 768px) {
  .team-list__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 30px * 2) / 2);
        flex-basis: calc((100% - 30px * 2) / 2);
  }
  .team-list__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .team-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 30px * 4) / 4);
        flex-basis: calc((100% - 30px * 4) / 4);
    margin-bottom: 30px;
  }
  .team-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  margin: 0;
  text-align: center;
  padding-bottom: 16px;
}

.team-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
}

.team-icon__item:not(:last-child) {
  margin-right: 10px;
}

.team-icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon__link:hover, .team-icon__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.cliens__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}

.clients-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .clients-list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 30px * 3) / 3);
        flex-basis: calc((100% - 30px * 3) / 3);
  }
  .clients-list__item:nth-child(n + 3) {
    margin-bottom: 30px;
  }
  .clients-list__item:not(:nth-child(3n + 3)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1170px;
    height: 92px;
    -ms-flex-preferred-size: calc((100% - 30px * 6) / 6);
        flex-basis: calc((100% - 30px * 6) / 6);
  }
  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

@media screen and (max-width: 767px) {
  .clients-list__link {
    max-width: 170px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__link {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__link {
    max-width: 170px;
    padding: 16px 32px;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .footer__block {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
  }
}

.footer__address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer__text {
  padding-top: 20px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1199px) {
  .footer-list {
    padding-bottom: 60px;
  }
}

.footer-list__nav {
  color: #757575;
  margin: 0;
  padding-bottom: 10px;
  display: inline-block;
  padding-left: 0;
}

@media screen and (max-width: 1199px) {
  .footer-input {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    margin-left: 90px;
  }
}

.footer-input__text {
  display: block;
  padding-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-input__text {
    text-align: center;
  }
}

.form-footer {
  display: inline-block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-footer {
    display: block;
    max-width: 450px;
  }
}

.form-footer__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
}

.form-footer__icon {
  fill: #ffffff;
  margin-left: 10px;
}

.form-footer__mail {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: #2f303a;
  color: #ffffff;
  height: 50px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 15px;
}

.form-footer__mail::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__mail:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__mail::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__mail:focus {
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .form-footer__mail {
    margin-bottom: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer__mail {
    width: 358px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-join {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-join {
    margin-left: 60px;
  }
}

.footer-join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 12px;
}

@media screen and (max-width: 1199px) {
  .footer-join__title {
    text-align: center;
  }
}

.footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
  .footer-icon {
    margin-bottom: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-icon__item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon__link:hover, .footer-icon__link:focus {
  background-color: #2196f3;
}

.filtres__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .filtres__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .filtres__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filtres__list {
    margin-bottom: 50px;
  }
}

.filtres__list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filtres__list__item:not(:last-child):not(:nth-child(n + 4)) {
    margin-bottom: 15px;
  }
}

.filtres__list__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.63;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtres__list__button:hover, .filtres__list__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filtres__list__button--color {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 678px) {
  .list-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.list-cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 4px;
}

.list-cards__item {
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-cards__item {
    -ms-flex-preferred-size: calc((100% - 30px * 2) / 2);
        flex-basis: calc((100% - 30px * 2) / 2);
    margin-right: 30px;
  }
  .list-cards__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .list-cards__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .list-cards__item {
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 30px * 2) / 3);
        flex-basis: calc((100% - 30px * 2) / 3);
  }
  .list-cards__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .list-cards__item:nth-child(3n) {
    margin-right: 0;
  }
}

.list-cards__item:hover, .list-cards__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-cards__link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.list-cards__link:hover .list-cards__text {
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  opacity: 1;
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

.list-cards__subtitle {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}

.list-cards__text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 420px) {
  .list-cards__text {
    font-size: 14px;
    line-height: 1.56;
    padding: 25px;
  }
}

.list-cards__image {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.list-cards__image--position {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list-cards__image--padding {
    padding-bottom: 56px;
  }
}
/*# sourceMappingURL=main.css.map */